# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# C build artifacts
*.o
*.a
rt_controller/greenhouse_controller

# IDEs
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Firebase
config/firebase-*.json
config/*-key.json
green-house-d7b7f-firebase-adminsdk-fbsvc-bf0cb07c7c.json

# Logs and temp
*.log
temp/
backup/
